<meta name="description" content="{{ site_description }}">
<meta name="image" content="assets/img/social.png">

<meta itemprop="name" content="{{ title }}">
<meta itemprop="description" content="{{ site_description }}">
<meta itemprop="image" content="assets/img/social.png">

<meta name="og:title" content="{{ title }}">
<meta name="og:description" content="{{ site_description }}">
<meta name="og:url" content="{{ url }}">
<meta name="og:site_name" content="{{ site_name }}">
<meta name="og:locale" content="{{ locale_full }}">
<meta name="og:type" content="website">
