<section class="hero is-medium has-background-image background-image is-dark" style="background-image: url('/assets/img/storm.jpg')">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
         Media &amp; Communication Team<br>EYP Italy 2018
      </h1>
    </div>
  </div>
</section>

<section class="hero is-medium credits">
  <div class="hero-body columns is-multiline column is-12-mobile is-6-desktop is-offset-3-desktop">
    <ul class="column">
      <li class="subtitle">{{ code_title }}:</li>
      {{ code }}
        <li>{{ value }}</li>
      {{ /code }}
    </ul>
    <ul class="column">
      <li class="subtitle">{{ content_title}}:</li>
      {{ contents }}
        <li>{{ value }}</li>
      {{ /contents }}
    </ul>
  </div>
</section>
